@use '../../styles/base' as *;

.main-page {
  margin-top: 0;
}

.hero {
  padding-top: 8rem;
  background: linear-gradient(
    to bottom right,
    $color-accent-1,
    $color-accent-2
  );

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-inline: 2rem;

    &_content {
      text-align: center;

      &_intro {
        color: $color-primary;
        letter-spacing: 0.025em;
      }

      &_title {
        color: $color-primary;
        margin-block: 1.25rem;
        font-size: 3rem;
      }

      &_description {
        color: $color-primary;
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }
}

@include media-md {
  .hero_container {
    flex-direction: row;

    &_content {
      width: 40%;
      text-align: left;
    }
  }
}
