@use '../../styles/base' as *;

.post-card {
  overflow: hidden;
  box-shadow: $shadow-l;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  gap: 0;

  &_thumbnail {
    position: relative;
    height: 15rem;

    img {
      object-fit: cover;
    }
  }

  &_content {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding: 1.5rem 1.5rem 1rem;
    gap: 1rem;

    &_title {
      color: $color-secondary;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    &_snippet {
      color: $color-secondary-light;
      line-height: 1.35rem;
    }

    &_link {
      justify-self: start;
      margin-left: calc(-0.2rem - 2px);
      border: 2px solid transparent;
      border-radius: 0.4rem;
      padding: 0.4rem 0.2rem;
      color: $color-accent-2;
      font-weight: 600;
      text-transform: uppercase;
      transition:
        border-color $animation,
        transform $animation-fast;

      &:hover {
        border-color: currentColor;
        color: $color-accent-2-dark;
      }

      &:active {
        transform: translateY(2px);
        color: $color-accent-2-darker;
      }
    }
  }

  &_footer {
    border-top: 1px solid $color-secondary-lightest;
    padding: 0.8rem 1.5rem;
    color: $color-secondary-lighter;
    font-size: 0.75rem;
  }
}
