@use './base/reset';
@use './base/colors' as *;
@use './base/buttons' as *;

main {
  margin-top: 7rem;
}

h1 {
  color: $color-secondary;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  color: $color-secondary;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}
