$color-primary: #fff;
$color-primary-light: #f3f4f6;

$color-secondary: hsl(217, 19%, 30%);
$color-secondary-light: hsl(217, 19%, 50%);
$color-secondary-lighter: hsl(219, 19%, 70%);
$color-secondary-lightest: hsl(217, 19%, 90%);

$color-accent-1: hsl(199, 100%, 48%);

$color-accent-2-darker: hsl(241, 100%, 49%);
$color-accent-2-dark: hsl(241, 100%, 59%);
$color-accent-2: hsl(241, 100%, 69%);
