$color-primary: hsl(0, 0%, 100%);
$color-primary-dark: hsl(0, 0%, 95%);
$color-primary-darker: hsl(0, 0%, 90%);

$color-secondary: hsl(217, 19%, 30%);
$color-secondary-light: hsl(217, 19%, 50%);
$color-secondary-lighter: hsl(217, 19%, 70%);
$color-secondary-lightest: hsl(217, 19%, 90%);

$color-accent-1: hsl(199, 100%, 48%);

$color-accent-2-darker: hsl(241, 100%, 49%);
$color-accent-2-dark: hsl(241, 100%, 59%);
$color-accent-2: hsl(241, 100%, 69%);

$color-heart: hsl(345, 90%, 50%);

$color-error: hsl(0, 65%, 50%);
$color-error-light: hsl(0, 65%, 70%);
$color-error-lightest: hsl(0, 65%, 98%);

$color-warning: hsl(40, 85%, 50%);
$color-warning-light: hsl(40, 85%, 70%);

$color-success: hsl(123, 46%, 34%);

$color-info: hsl(204, 70%, 45%);
$color-info-light: hsl(204, 70%, 65%);
